body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #363333;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-label {
    margin-bottom: 10px;
}

#file-input {
    margin-bottom: 20px;
}

button {
    /* margin-bottom: 2rem; */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#progress-bar {
    width: 100%;
    margin-top: 10px;
}

.result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}
/* Add this style for image container */
.image-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

/* Add this style for image */
#uploaded-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button#info{
    margin-top: 20px;    
}

/* styles.css */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 30%; /* Could be more or less, depending on screen size */
}

.closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

table {
    width: 50%; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 1.5rem;
    width: 50%;
    border-collapse: collapse; /* Ensures that the border is neat */
}

th, td {
    padding: 8px; /* Adds space around text in each cell */
    text-align: left; /* Aligns text to the left */
    border-bottom: 1px solid #ddd; /* Adds a horizontal line between rows */
}

th {
    background-color: #f2f2f2; /* Adds a background color to the header */
}